article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display:block
}
audio,canvas,video {
	display:inline-block;
	*display:inline;
	*zoom:1
}
audio:not([controls]) {
	display:none
}
[hidden] {
	display:none
}
* {
	outline:0!important;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-webkit-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-duration:.3s;
	-moz-transition-duration:.3s;
	-webkit-transition-duration:.3s;
	-o-transition-duration:.3s
}
html {
	overflow-x:hidden;
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
html,button,input,select,textarea {
	font-family:"pill-gothic-300mg";
	color:#242021
}
body {
	overflow-x:hidden;
	margin:0;
	font-family:"pill-gothic-300mg";
	font-size:100%;
	line-height:1
}
::-moz-selection {
	background:#FFF;
	color:#000;
	text-shadow:none
}
::selection {
	background:#FFF;
	color:#000;
	text-shadow:none
}
a {
	color:#242021;
	text-decoration:none;
	cursor:pointer
}
a:hover {
	color:#242021
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:bold
}
blockquote {
	margin:1em 40px
}
dfn {
	font-style:italic
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0
}
ins {
	background:#ff9;
	color:#000;
	text-decoration:none
}
mark {
	background:#ff0;
	color:#000;
	font-style:italic;
	font-weight:bold
}
pre,code,kbd,samp {
	font-family:monospace,serif;
	_font-family:'courier new',monospace;
	font-size:1em
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
q {
	quotes:none
}
q:before,q:after {
	content:"";
	content:none
}
small {
	font-size:85%
}
p.text {
	color:#000;
	text-transform:none;
	font-size:.75em
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
h2 {
	letter-spacing:2px;
	display:inline;
	background:#000;
	color:#FFF;
	padding:6px 11px;
	text-transform:uppercase;
	font-size:1.25em;
	font-weight:normal
}
ul,ol {
	list-style:none;
	margin:0;
	padding:0
}
dd {
	margin:0 0 0 40px
}
nav ul,nav ol {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0
}
img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:0
}
form {
	margin:0
}
fieldset {
	border:0;
	margin:0;
	padding:0
}
label {
	cursor:pointer
}
legend {
	border:0;
	*margin-left:-7px;
	padding:0;
	white-space:normal
}
button,input,select,textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}
button,input {
	line-height:normal
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
	*overflow:visible
}
button[disabled],input[disabled] {
	cursor:default
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0;
	*width:13px;
	*height:13px
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto;
	vertical-align:top;
	resize:vertical
}
input:invalid,textarea:invalid {
	background-color:#f0dddd
}
table {
	border-collapse:collapse;
	border-spacing:0
}
td {
	vertical-align:top
}
header {
	position:fixed;
	top:0;
	left:0;
	height:100px;
	width:100%;
	background:#FFF;
	z-index:99999
}
header .content {
	background:url(../img/prefabs/logo.php?c=d82028) no-repeat center left;
	background-size:22px 22px;
	height:100px
}
.content {
	width:100%;
	display:block;
	margin:auto;
	position:relative
}
.content-hidden {
	left:-100%;
	top:0;
	position:absolute
}
.content-alternate {
	left:110%;
	position:absolute;
	top:0
}
header .content .ui-menu {
	margin-right:5px;
	-webkit-box-sizing:border-box;
	position:relative;
	float:right;
	margin-top:40px;
	border-bottom:solid 1px #d7d7d7;
	padding-bottom:14px
}
header .content .ui-menu .ui-menu-bottom-line {
	height:1px;
	width:25px;
	position:absolute;
	left:0;
	bottom:-1px;
	background:#d82126;
	max-width:100%
}
header .content .ui-menu ul li {
	font-size:.95em;
	float:left;
	margin:0 17px;
	text-transform:capitalize
}
header .content .ui-menu ul li:first-child {
	margin-left:0
}
header .content .ui-menu ul li:last-child {
	margin-right:0
}
header .content .ui-menu ul li a:hover {
	color:#d82126
}
footer {
	background:#000
}
footer p {
	color:#FFF;
	font-size:.7em;
	font-weight:normal;
	margin:22px 0
}
footer p:first-child {
	float:left
}
footer p:last-child {
	float:right
}
.content-title-description {
	position:absolute;
	top:23px
}
.inverted-frame .content-title-description h2 {
	color:#FFF;
	border-bottom-color:#FFF
}
.inverted-frame .content-title-description p {
	color:#FFF
}
.content-title-description h2 {
	font-family:'HelveticaNeue';
	text-transform:none;
	padding:0;
	background:0;
	margin-bottom:12px;
	font-size:4.7em;
	letter-spacing:-1px;
	color:#000;
	display:inline;
	border-bottom:solid 10px #000;
	white-space:nowrap
}
.content-title-description p {
	line-height:1.3;
	font-family:"ff-basic-gothic-web-pro";
	font-weight:normal;
	text-align:justify;
	width:inherit;
	font-size:.75em;
	color:#000;
	padding-top:7px
}
#problem .content-title-description p {
	width:295px
}
#solution .content-title-description p {
	width:289px
}
#product .content-title-description p {
	width:279px
}
.content-column-container {
	padding-top:180px
}
.content-left-column,.content-right-column {
	float:left;
	width:45%
}
.content-left-column {
	margin-right:10%
}
.content-left-column ul,.content-right-column ul {
	list-style:disc;
	margin:20px 0 40px 10px;
	padding-left:30px
}
.content-left-column h2,.content-right-column h2 {
	margin-bottom:20px
}
.content-left-column ul li,.content-right-column ul li {
	font-size:.95em;
	line-height:1.5em;
	padding-bottom:15px
}
.inverted-frame .content-left-column ul li,.inverted-frame .content-right-column ul li {
	color:#FFF
}
.frame {
	position:relative;
	background:-moz-radial-gradient(center,ellipse cover,rgba(255,255,255,0.88) 1%,rgba(255,255,255,0.96) 66%,rgba(187,187,187,1) 120%);
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(1%,rgba(255,255,255,0.88)),color-stop(66%,rgba(255,255,255,0.96)),color-stop(100%,rgba(187,187,187,1)));
	background:-webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,0.88) 1%,rgba(255,255,255,0.96) 66%,rgba(187,187,187,1) 120%);
	background:-o-radial-gradient(center,ellipse cover,rgba(255,255,255,0.88) 1%,rgba(255,255,255,0.96) 66%,rgba(187,187,187,1) 120%);
	background:-ms-radial-gradient(center,ellipse cover,rgba(255,255,255,0.88) 1%,rgba(255,255,255,0.96) 66%,rgba(187,187,187,1) 120%);
	background:radial-gradient(center,ellipse cover,rgba(255,255,255,0.88) 1%,rgba(255,255,255,0.96) 66%,rgba(187,187,187,1) 120%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0ffffff',endColorstr='#bbbbbb',GradientType=1)
}
.frame .transition-arrow {
	cursor:pointer;
	position:absolute;
	width:50px;
	height:50px;
	border-radius:25px;
	top:50%;
	margin-top:-25px;
	background:url(../img/prefabs/arrow.svg) #000 no-repeat center center;
	background-size:14px 21px!important
}
.frame .transition-arrow-right {
	right:57px
}
.frame .transition-arrow-hidden {
	opacity:0
}
.frame .transition-arrow-left {
	-webkit-transform-origin:center center;
	-moz-transform-origin:center center;
	-o-transform-origin:center center;
	transform-origin:center center;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	left:57px
}
.frame-intermission {
	background:#000;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	padding:13px 0 13px 0;
	font-size:.9em;
	letter-spacing:1px
}
.frame-intermission .frame-intermission-arrow {
	display:block;
	width:16px;
	height:16px;
	margin:auto;
	margin-bottom:10px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg)
}
.inverted-frame {
	background:-moz-radial-gradient(center,ellipse cover,rgba(216,32,40,0.88) 1%,rgba(216,32,40,0.96) 66%,rgba(147,22,26,1) 100%);
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(1%,rgba(216,32,40,0.88)),color-stop(66%,rgba(216,32,40,0.96)),color-stop(100%,rgba(147,22,26,1)));
	background:-webkit-radial-gradient(center,ellipse cover,rgba(216,32,40,0.88) 1%,rgba(216,32,40,0.96) 66%,rgba(147,22,26,1) 100%);
	background:-o-radial-gradient(center,ellipse cover,rgba(216,32,40,0.88) 1%,rgba(216,32,40,0.96) 66%,rgba(147,22,26,1) 100%);
	background:-ms-radial-gradient(center,ellipse cover,rgba(216,32,40,0.88) 1%,rgba(216,32,40,0.96) 66%,rgba(147,22,26,1) 100%);
	background:radial-gradient(center,ellipse cover,rgba(216,32,40,0.88) 1%,rgba(216,32,40,0.96) 66%,rgba(147,22,26,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0d82028',endColorstr='#93161a',GradientType=1)
}
.frame:first-child {
	height:auto;
	margin-top:100px
}
.text-logo-with-heart-container {
	text-align:center;
	padding-bottom:35px
}
img.piccsy-logo {
	width:500px
}
.spacer {
	display:block;
	height:1px;
	border-bottom:dashed 1px #000;
	margin:30px 0
}
.stat {
	float:left
}
.stat-by-2:first-child {
	width:30%;
	margin-right:5%
}
.stat-by-2 {
	width:65%;
	margin-right:0;
	margin-bottom:30px
}
.stat-by-3 {
	width:30%;
	margin-left:5%
}
.stat-by-5 {
	width:17%;
	margin-left:3.7%
}
.stat:first-child {
	margin-left:0
}
.stat span.number {
	text-align:center;
	letter-spacing:-5px;
	display:block;
	color:#d82028;
	font-size:7.8em
}
.stat span.label {
	font-size:1.2em;
	font-weight:normal;
	margin-top:12px;
	text-transform:uppercase;
	text-align:center;
	display:block
}
.stat-by-5 span.number {
	font-size:5.2em;
	letter-spacing:-2px
}
.stat-by-2 span.number {
	text-shadow:0 0 10px #d82028
}
.intro-text-logo-with-heart-container {
	opacity:0;
	-webkit-transition-delay:.7s;
	-moz-transition-delay:.7s
}
#welcome {
	height:1000px
}
#welcome .executive-summary {
	margin-top:-10px;
	font-size:.8em;
	position:absolute;
	right:5px;
	top:0;
	background:#000;
	text-align:center;
	color:#FFF;
	width:68px;
	padding:32px 3px 7px 3px
}
#welcome .executive-summary:hover {
	margin-top:0
}
#welcome .executive-summary:after {
	content:'';
	position:absolute;
	top:100%;
	left:0;
	height:0;
	width:0;
	border-top:solid 36px #000;
	border-left:solid 37px transparent;
	border-right:solid 37px transparent
}
.intro-text {
	position:absolute;
	top:50%;
	margin-top:-115px;
	left:50%;
	margin-left:-303px
}
#welcome .intro-text h3 {
	text-transform:uppercase;
	text-align:center;
	font-size:1.1em;
	font-weight:normal;
	margin-top:35px
}
#welcome p {
	-webkit-transition-delay:1.1s;
	-moz-transition-delay:1.1s;
	opacity:0;
	color:#d82028;
	text-align:center;
	margin-bottom:0;
	padding-bottom:30px;
	font-family:"ff-basic-gothic-web-pro";
	line-height:1.4;
	position:absolute;
	bottom:0;
	width:100%
}
#problem {
	height:950px
}
#problem .text {
	position:absolute;
	text-align:center;
	color:#FFF;
	width:200px
}
#problem .text h3 {
	font-weight:normal;
	margin-bottom:8px;
	letter-spacing:2px;
	font-size:1.05em;
	text-transform:uppercase;
	font-family:'pill-gothic-300mg'
}
#problem .text ul {
	cursor:pointer;
	padding-bottom:17px;
	background:url(../img/prefabs/plus.svg) no-repeat bottom center;
	background-size:7px 7px!important
}
#problem .text ul li {
	display:none;
	font-size:.8em;
	float:left;
	width:200px;
	padding:2px 0
}
#problem .text ul.opened li {
	float:left;
	display:block
}
#problem .text ul li:nth-child(1),#problem .text ul li:nth-child(2),#problem .text ul li:nth-child(3) {
	display:block
}
#problem .text .line {
	position:absolute;
	height:1px;
	background:#FFF
}
#problem .circles-container {
	position:absolute;
	top:450px;
	left:45%;
	overflow:visible;
	height:1px;
	width:1px
}
#problem .circles-container .circle {
	background:#000;
	position:absolute;
	-webkit-transform-origin:center center
}
.circles-container #c1 {
	top:-122px;
	left:-338px;
	width:104px;
	height:104px;
	border-radius:52px
}
.circles-container #c2 {
	top:-20px;
	left:-360px;
	width:128px;
	height:128px;
	border-radius:64px
}
.circles-container #c3 {
	top:102px;
	left:-352px;
	width:54px;
	height:54px;
	border-radius:27px
}
.circles-container #c4 {
	top:-137px;
	left:-244px;
	width:244px;
	height:244px;
	border-radius:122px
}
.circles-container #c5 {
	top:85px;
	left:-312px;
	width:200px;
	height:200px;
	border-radius:100px
}
.circles-container #c6 {
	top:210px;
	left:-123px;
	width:44px;
	height:44px;
	border-radius:22px
}
.circles-container #c7 {
	top:90px;
	left:-115px;
	width:142px;
	height:142px;
	border-radius:71px
}
.circles-container #c8 {
	top:-205px;
	left:-34px;
	width:158px;
	height:158px;
	border-radius:79px
}
.circles-container #c9 {
	top:-54px;
	left:-12px;
	width:214px;
	height:214px;
	border-radius:107px
}
.circles-container #c10 {
	top:157px;
	left:17px;
	width:104px;
	height:104px;
	border-radius:52px
}
.circles-container #c11 {
	top:106px;
	left:118px;
	width:244px;
	height:244px;
	border-radius:122px
}
.circles-container #c12 {
	top:170px;
	left:357px;
	width:54px;
	height:54px;
	border-radius:27px
}
.circles-container #c13 {
	top:-210px;
	left:115px;
	width:84px;
	height:84px;
	border-radius:42px
}
.circles-container #c14 {
	top:-144px;
	left:147px;
	width:140px;
	height:140px;
	border-radius:70px
}
.circles-container #c15 {
	top:-6px;
	left:197px;
	width:54px;
	height:54px;
	border-radius:27px
}
.circles-container #c16 {
	top:-203px;
	left:198px;
	width:62px;
	height:62px;
	border-radius:31px
}
.circles-container #c17 {
	top:-40px;
	left:258px;
	width:72px;
	height:72px;
	border-radius:36px
}
.circles-container #c18 {
	top:-191px;
	left:283px;
	width:184px;
	height:184px;
	border-radius:92px
}
.circles-container #c19 {
	top:-212px;
	left:420px;
	width:44px;
	height:44px;
	border-radius:22px
}
.circles-container #t1 {
	top:-200px;
	left:-480px
}
.circles-container #t1 .line {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	left:120px;
	top:100px;
	width:80px
}
.circles-container #t2 {
	left:-397px;
	top:-15px
}
.circles-container #t3 {
	left:-475px;
	top:165px
}
.circles-container #t3 .line {
	-webkit-transform:rotate(-46deg);
	-moz-transform:rotate(-46deg);
	left:96px;
	top:-13px;
	width:60px
}
.circles-container #t4 {
	left:-313px;
	top:115px
}
.circles-container #t5 {
	left:-225px;
	top:-70px
}
.circles-container #t6 {
	left:-200px;
	top:270px
}
.circles-container #t6 .line {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	left:75px;
	top:-15px;
	width:45px
}
.circles-container #t7 {
	left:-144px;
	top:90px
}
.circles-container #t8 {
	left:-55px;
	top:-200px
}
.circles-container #t9 {
	left:-5px;
	top:-10px
}
.circles-container #t10 {
	top:285px;
	left:-28px
}
.circles-container #t10 .line {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	left:57px;
	top:-35px;
	width:81px
}
.circles-container #t11 {
	left:55px;
	top:-265px
}
.circles-container #t12 {
	left:118px;
	top:-140px
}
.circles-container #t13 {
	left:150px;
	top:-10px
}
.circles-container #t14 {
	left:210px;
	top:-300px
}
.circles-container #t14 .line {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	left:10px;
	top:105px;
	width:60px
}
.circles-container #t15 {
	left:290px;
	top:30px
}
.circles-container #t15 .line {
	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	left:0;
	top:-15px;
	width:80px
}
.circles-container #t16 {
	left:275px;
	top:-155px
}
.circles-container #t17 {
	left:360px;
	top:230px
}
.circles-container #t17 .line {
	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	left:18px;
	top:-15px;
	width:80px
}
.circles-container #t18 {
	left:430px;
	top:-300px
}
.circles-container #t18 .line {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	left:3px;
	top:90px;
	width:60px
}
.circles-container #t19 {
	left:140px;
	top:170px
}
.circles-container-alternate ul {
	width:160px;
	margin:auto;
	background:0!important
}
.circles-container-alternate ul li {
	width:80px!important;
	white-space:nowrap
}
.circles-container-alternate ul.special {
	width:120px;
	margin:auto;
	background:0!important
}
.circles-container-alternate ul.special li {
	width:60px!important;
	white-space:nowrap
}
.circles-container-alternate #t19 {
	top:150px
}
.circles-container-alternate #t19 ul {
	width:200px
}
.circles-container-alternate #t19 ul li {
	width:100px!important
}
.circles-container-alternate #t16 {
	top:-180px
}
.circles-container-alternate #t14 .line {
	top:110px;
	width:45px
}
.circles-container-alternate #t12 {
	top:-170px
}
.circles-container-alternate #t11 {
	top:-335px;
	left:5px
}
.circles-container-alternate #t11 .line {
	-webkit-transform:rotate(50deg);
	-moz-transform:rotate(50deg);
	top:142px;
	left:100px;
	width:65px
}
.circles-container-alternate #t7 {
	top:80px
}
.circles-container-alternate #t8 {
	top:-205px
}
.circles-container-alternate #t9 {
	top:-55px
}
.circles-container-alternate #t5 {
	top:-120px
}
.circles-container-alternate #t4 {
	top:80px
}
.circles-container-alternate #t2 {
	top:-40px;
	left:-460px
}
.circles-container-alternate #t1 {
	top:-170px;
	left:-410px
}
#solution {
	height:1182px
}
#solution img.daniel {
	display:block;
	margin:auto;
	width:104px;
	height:auto;
	padding-top:68px
}
#solution .daniels-streams {
	display:block;
	margin:auto;
	margin-top:20px;
	text-align:center
}
#solution .lines-container,#solution .columns-container {
	position:absolute;
	left:50%;
	width:1px;
	height:1px;
	overflow:visible
}
#solution .columns-container {
	top:395px
}
#solution .lines-container {
	top:340px
}
#solution .lines-container .line {
	position:absolute;
	height:1px;
	width:1px
}
#solution .lines-container .line-top-vertical {
	height:35px;
	left:0;
	top:-35px;
	border-left:dashed 1px #000
}
#solution .lines-container .line-left-horizontal {
	width:339px;
	top:0;
	right:0;
	border-top:dashed 1px #000
}
#solution .lines-container .line-right-horizontal {
	width:339px;
	top:0;
	left:0;
	border-top:dashed 1px #000
}
#solution .lines-container .line-far-left-vertical {
	height:47px;
	top:0;
	right:339px;
	border-left:dashed 1px #000
}
#solution .lines-container .line-bottom-vertical {
	height:47px;
	top:0;
	left:0;
	border-left:dashed 1px #000
}
#solution .lines-container .line-far-right-vertical {
	height:47px;
	top:0;
	left:339px;
	border-left:dashed 1px #000
}
#solution .columns-container .column {
	position:absolute;
	width:234px;
	margin-left:-117px
}
#solution .columns-container .column-left {
	left:-339px
}
#solution .columns-container .column-center {
	left:0
}
#solution .columns-container .column-right {
	left:339px
}
#solution .columns-container .column ul li {
	display:block;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:4px;
	background:url(../img/prefabs/plus.svg) #000 no-repeat 216px 50%;
	background-size:8px 8px!important;
	color:#FFF;
	padding:7px 0;
	cursor:pointer;
	letter-spacing:1px
}
#solution .columns-container .column ul li.no-child {
	background:#000!important
}
#solution .columns-container .column ul li.opened {
	background:url(../img/layout/minus.png) #000 no-repeat 216px 11px
}
#solution .columns-container .column ul li ul {
	display:none;
	margin-top:9px
}
#solution .columns-container .column ul li ul li {
	background:#000;
	padding:2px 0;
	text-transform:none;
	font-size:.9em;
	margin:0
}
#solution .columns-container .column .bubble {
	width:234px;
	height:234px;
	margin:auto;
	margin-bottom:10px;
	line-height:234px;
	border-radius:117px;
	background:#000;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	font-size:1.2em;
	letter-spacing:1px;
	-webkit-transform-origin:center center;
	-moz-transform-origin:center center;
	-o-transform-origin:center center;
	transform-origin:center center
}
#team {
	height:989px
}
#team .team-container {
	padding-top:253px;
	width:110%
}
#team .team-member {
	width:200px
}
html.no-touch #team .team-member p {
	opacity:0
}
#team .team-member p {
	color:#FFF;
	margin-top:8px;
	width:170px;
	font-size:.8em
}
#team .team-member h5 {
	font-weight:normal;
	display:inline-block;
	color:#FFF;
	text-align:left;
	background:#000;
	padding:4px 5px;
	margin-left:-5px;
	margin-bottom:6px
}
#team .team-member .role {
	color:#FFF;
	text-align:left;
	font-size:1.1em;
	margin-bottom:5px
}
#team .team-member:hover {
	margin:0 30px 0 0
}
#team .team-member-glenn:hover {
	margin:0 60px 0 -30px!important
}
#team .team-member:hover p {
	opacity:1!important
}
#team .team-member:hover h5 {
	font-size:2em;
	margin-top:29px
}
#team .team-member:hover .role {
	font-size:1.3em
}
#team .team-member:hover img {
	height:250px;
	margin-top:-80px
}
#traction .graph-container {
	padding-top:170px;
	padding-bottom:50px
}
#traction .graph {
	position:relative;
	width:880px;
	height:370px;
	display:block;
	margin:50px auto
}
#traction .graph:last-child {
	margin-bottom:0
}
#traction .legend-container {
	position:absolute;
	top:270px;
	left:172px
}
#traction .legend-icon {
	width:20px;
	height:20px;
	border-radius:10px
}
#traction div.legend-icon-bright-red {
	background:#cc3031
}
#traction div.legend-icon-dark-red {
	background:#a22825
}
#traction .legend-text {
	font-size:.75em;
	text-transform:uppercase;
	margin:0 32px 0 5px;
	line-height:20px
}
#traction .legend-icon,#traction .legend-text {
	float:left
}
#traction .stat-container {
	padding-top:30px;
	padding-bottom:50px
}
#traction .labels {
	position:absolute
}
#traction .labels .label {
	font-size:.8em
}
#traction .labels-vertical {
	top:0;
	left:5px
}
#traction .labels-horizontal {
	bottom:0;
	left:45px
}
#traction .labels-vertical .label {
	text-align:right;
	margin-top:61px
}
#traction .labels-vertical .label:first-child {
	margin-top:0
}
#traction .labels-horizontal .label {
	float:left;
	text-align:center;
	margin-left:126px
}
#traction .labels-horizontal .label:first-child {
	margin-left:0
}
#product {
	height:870px
}
#product .product-container {
	position:absolute;
	left:61px;
	top:662px;
	border-bottom:solid 3px #FFF;
	width:932px;
	overflow:visible
}
#product .product-container .product {
	margin:0;
	width:233px;
	position:absolute;
	bottom:0
}
#product .product-container .product .image-container {
	text-align:center;
	width:233px;
	margin-bottom:30px;
	-webkit-box-sizing:content-box;
	overflow:hidden
}
#product .product-container .product img {
	display:block;
	margin:auto;
	width:181px;
	height:auto
}
#product .product-container .product:nth-child(1) {
	left:0
}
#product .product-container .product:nth-child(2) {
	left:233px;
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s
}
#product .product-container .product:nth-child(3) {
	left:466px;
	-webkit-transition-delay:.4s;
	-moz-transition-delay:.4s
}
#product .product-container .product:nth-child(4) {
	left:699px;
	-webkit-transition-delay:.6s;
	-moz-transition-delay:.6s
}
#product .product-container .product .title-container {
	position:absolute;
	padding-top:22px;
	width:inherit;
	text-align:center;
	-webkit-transition-delay:1s
}
#product .product-container .product .title-container h2 {
	font-size:1em;
	line-height:1.5
}
#product .product-container .product .title-container h3 {
	color:#FFF;
	text-transform:uppercase;
	font-size:.9em;
	font-weight:normal
}
#product .product-container .product:after {
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-5px;
	display:block;
	content:'';
	width:0;
	height:0;
	border-right:solid 10px transparent;
	border-left:solid 10px transparent;
	border-bottom:solid 10px #FFF
}
#contact {
	height:545px
}
#contact p.first-paragraph-padded {
	margin-top:0;
	padding-top:160px
}
#contact p {
	font-size:1.45em;
	margin-bottom:40px;
	font-family:"ff-basic-gothic-web-pro"
}
#contact p a {
	color:#d82126
}
#contact .social-button {
	float:left;
	display:block;
	background-size:50px 50px!important;
	width:50px;
	height:50px;
	margin-right:10px;
	border-radius:25px
}
#contact .social-button:hover {
	-webkit-transform-origin:center center;
	-moz-transform-origin:center center;
	-o-transform-origin:center center;
	transform-origin:center center;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2)
}
#contact .social-button-facebook {
	background:url(../img/prefabs/facebook.svg) no-repeat center center
}
#contact .social-button-twitter {
	background:url(../img/prefabs/twitter.svg) no-repeat center center
}
#contact .social-container {
	padding-bottom:80px
}
#executive-summary:last-child {
	margin-bottom:0;
	padding-bottom:30px
}
#executive-summary .summary-text-logo {
	padding-top:70px
}
#executive-summary h3 {
	text-transform:uppercase;
	text-align:center;
	font-size:1.1em;
	font-weight:normal
}
#executive-summary h3.text-interruption-after-logo {
	margin-bottom:48px
}
#executive-summary ul li,#executive-summary p {
	font-size:.95em;
	line-height:1.15em;
	font-family:"ff-basic-gothic-web-pro";
	font-style:normal;
	font-weight:400
}
#executive-summary p.red-text {
	font-family:"ff-basic-gothic-web-pro";
	line-height:1.4;
	font-size:1em;
	color:#d82028;
	text-align:center;
	font-weight:normal;
	margin-bottom:0
}
#executive-summary .stat-container {
	margin-top:30px
}
#executive-summary h2+p {
	padding-top:20px
}
#executive-summary ul {
	list-style:disc;
	margin-left:20px;
	padding-left:20px;
	margin-top:16px
}
#executive-summary ul li {
	padding-bottom:16px
}
#executive-summary ul li:last-child {
	padding-bottom:0
}
.team {
	float:left
}
.team-member {
	float:left
}
.team-member img {
	height:170px;
	display:block
}
.team-member h5 {
	white-space:nowrap;
	font-size:1.1em;
	letter-spacing:1px;
	text-align:center;
	text-transform:uppercase
}
.team-member .role {
	white-space:nowrap;
	font-size:.75em;
	display:block;
	text-align:center;
	text-transform:uppercase
}
.team-member p {
	font-family:"ff-basic-gothic-web-pro"!important;
	margin:15px 0;
	font-size:.7em;
	line-height:1.4em;
	letter-spacing:normal!important
}
.team:last-child .team-member:last-child {
	margin-right:0
}
#executive-summary .team-member img {
	margin:auto
}
#executive-summary .team-member {
	width:164px;
	margin-right:36px;
	margin-top:30px
}
#executive-summary .team-member h5 {
	font-weight:normal;
	margin-left:-20px;
	width:204px;
	margin-bottom:10px
}
#executive-summary .team-member p {
	font-size:.7em;
	letter-spacing:1px
}
#executive-summary .team-member .role {
	margin-left:-20px;
	width:204px;
	margin-bottom:18px;
	font-size:.85em
}
#executive-summary .tech-container {
	padding-top:30px
}
#executive-summary .tech {
	float:left;
	margin-left:8px
}
#executive-summary .tech:first-child {
	margin-left:0
}
#executive-summary .tech>img {
	border-radius:52px;
	width:104px;
	height:104px
}
#executive-summary .tech>h3 {
	font-weight:bold;
	margin-bottom:0
}
#executive-summary p.contact {
	font-size:2.05em;
	margin-top:0
}
@media only screen and (min-width:1000px) {
	.content {
	width:1000px
}
header[role="menu"] .content .ui-menu {
	margin-right:0
}
#welcome .executive-summary {
	right:0
}
}#unsupported {
	position:fixed;
	width:100%;
	height:100%;
	background:#FFF;
	font-family:'Arial';
	display:none
}
#unsupported .unsupported-logo {
	display:block;
	margin:50px auto;
	margin-top:100px
}
#unsupported span {
	display:block;
	margin:auto;
	text-align:center
}
#unsupported span.improve {
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:30px
}
#unsupported span.text {
	color:#d82027;
	display:block;
	margin-bottom:50px;
	line-height:20px
}
#unsupported .browser-container {
	width:50%;
	display:block;
	margin:auto
}
#unsupported .browser-container .browser {
	width:21%;
	margin-right:5%;
	text-align:center;
	float:left;
	height:300px
}
#unsupported .browser-container .browser-ie {
	margin-top:13px
}
#unsupported .browser-container .browser-ff {
	margin-top:21px
}
#unsupported .browser-container .browser-chrome {
	margin-top:18px
}
#unsupported .browser-container .browser-safari {
	margin-right:0
}
#unsupported .browser-container .browser img {
	margin-bottom:20px;
	border:0
}
#unsupported .browser-container .browser .browser-text {
	text-transform:uppercase;
	font-size:10px;
	color:#000!important
}
.ir {
	display:block;
	border:0;
	text-indent:-999em;
	overflow:hidden;
	background-color:transparent;
	background-repeat:no-repeat;
	text-align:left;
	direction:ltr;
	*line-height:0
}
.ir br {
	display:none
}
.hidden {
	display:none!important;
	visibility:hidden
}
.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto
}
.invisible {
	visibility:hidden
}
.clearfix:before,.clearfix:after {
	content:"";
	display:table
}
.clearfix:after {
	clear:both
}
.clearfix {
	*zoom:1
}
